/*#############################
  NAVIGATION
#############################*/

.main {
    position: relative;
    width: 2160.51px;
    height: 535.91px;
    left: -240.51px;
    top: -188px;
    background-color: grey;
}
.polygon_3{
  position: absolute;
  width: 459.29px;
  height: 505.43px;
  left: 285.6px;
  top: -188px;

  background: #735E5E;
  transform: rotate(80.57deg);
  }
.navbarbg {
    position: absolute;
    width: 1920px;
    height: 69px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}